body	{
	background-color: #b5a789;
	font-family: Georgia,"Times New Roman",Times,serif;
	font-size: small;
	margin: 20px;
}
div#tableContainer	{
	display: table;
	border-spacing: 10px;
}
div#tableRow	{
	display: table-row;
}
header.top	{
	background-color: #675c47;
	margin: 10px 0px 10px 0px;
	height: 75px;
	padding: 10px;
	font-weight: bolder;
	font-size: x-large;
}
#slogan	{
	float: right;
}
nav	{
	background-color: #efe5d0;
	margin: 10px 0px 10px 0px;
}
nav ul {
	margin: 0px;
	list-style-type: none;
	padding: 5px 0px 5px 0px;
}
nav ul li {
	display: inline;
	padding: 5px 10px 5px 10px;
}
nav ul li a:link,nav ul li a:visited	{
	color: #954b4b;
	border-bottom: none;
	font-weight: bold;
}
nav ul li a 	{
    color: lime;
    -webkit-transition: color 1s ease-out;
    -moz-transition:    color 1s ease-out;
    -ms-transition:     color 1s ease-out;
    -o-transition:      color 1s ease-out;
    transition:         color 1s ease-out;

}
nav ul li a:hover	{
	color: lime;
}
nav ul li.selected	{
	background-color: #c8b99c;
}
header	{
	color: black; 
	margin: 10px;
	height: 50px;
	padding: 0px;
	font-size: 125%;
}
.video	{
	margin-left: 40px;
}

#award	{
	position: absolute;
	top: 35px;
	left: 600px;
}

#coupon	{
	position: fixed ;
	top: 350px;
	left: -20px;
}
#coupon  a,img	{
	border: none;
}
section#drinks	{
	display: table-cell;
	background-color: #efe5d0;
	width: 20%;
	padding: 15px;
	vertical-align: top;
}

}
section#main,section#blog	{
	display: table-cell;
	background: #efe5d0 url(background.png) top left;
	font-size: 105%;
	padding: 15px;
	vertical-align: top; 
	margin-left: 5px;
}

aside {
display: table-cell;
background: #efe5d0 url(background.png) bottom right;
padding: 15px;
width: 280px;
background-repeat: no-repeat;
background-size: 300px,200px; 
vertical-align: top;
}
footer	{
	background-color: #675c47;
	color: #efe5d0;
	text-align: center;
	padding: 15px;
	margin: 10px 5px 10px 5px;
	font-size: 90%;
	clear: right;
}
h1	{
	font-size: 120%;
	color: #954b4b;
}
.slogan	{ color: #954b4b; }
.beanheading	{
	text-align: center;
	line-height: 1.8em;
}
a:link	{
	color: #b76666;
	text-decoration: none;
	border-bottom: thin dotted #b76666;
}
a:visited	{
	color: #675c47;
	text-decoration: none;
	border-bottom: thin dotted #675c47; 
}
a:hover	{ color: red; }

table 	{
	margin-left: 80px;
	border: thin solid black;
	caption-side: bottom;
	border-spacing: 5px 10px;
	border-collapse: collapse;
}

td, th {
	border: 1px dotted black;
	padding: 5px 10px 10px 5px;
	text-align: center;
}

caption 	{
	font-style: italic;
	padding-top: 10px;
}
th {
	text-align: center;
	font-weight: bolder;
	background-color: #cc6600;
} 

tr:nth-child(odd) {
	background-color: #fcba7a;
}

li{
	list-style-type: none; 
}

a#links:hover	{
	color: white;
}

a#links	{
	border-bottom: none;
	line-height: 1.72em;
}